@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap);
:root {
     --card-width-large:157px;
     --card-height-large:220px;
     --card-width-small:120px;
     --card-height-small:168px;
     --number-cards:4;
     --card-horizontal-space-large: 100px;
     --card-horizontal-space-small: 50px;
     --badge-background-color:darkgrey;
     --primary-color: black;
     --secondary-color: #ffffff;
     --primary-font: 'Quicksand',sans-serif;
}
body {
     height: 100vh;
     font-family: var(--primary-font);
}
main {
     height: 55%;
     display: flex;
     justify-content: center;
}
.card-container {
     position: relative;
     width: calc(var(--card-width-large) * (var(--number-cards) / 2) + var(--card-horizontal-space-large));
     height: 100%;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(2,1fr);
     grid-template-areas:
          "a b"
          "c d";
}
.card-position-a {
     grid-area: a;
}
.card-position-b {
     grid-area: b;
}
.card-position-c {
     grid-area: c;
}
.card-position-d {
     grid-area: d;
}
.card-position-a,.card-position-b,.card-position-c,.card-position-d {
     display: flex;
     align-items: center;
     justify-content: center;
}
.card {
     position: absolute;
     width: var(--card-width-large);
     height: var(--card-height-large);
     perspective: 1000px;
     cursor: pointer;
     transition: transform 0.6s ease-in-out;
}
.card-inner {
     position: relative;
     width: 100%;
     height: 100%;
     text-align: center;
     transform-style: preserve-3d;
     transition: transform 0.6s;
}
.card-front,.card-back {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
}
.card-image {
     height: 100%;
}
.card-back {
     transform: rotateY(180deg);
}
.card-inner.flip-it {
     transform: rotateY(180deg);
}
header {
     display: flex;
     flex-direction: column;
     margin-bottom: 10px;
}
.header-title-container {
     display: flex;
     justify-content: center;
}
.header-round-info-container {
     display: flex;
     justify-content: space-evenly;
}
.current-status {
     font-size: 1.5rem;
     text-align: center;
}
.header-status-info-container,.header-button-container,.header-score-container,.header-round-container,.header-image-container {
     display: flex;
     align-items: center;
     justify-content: center;
}
.header-score-container,.header-round-container,.header-image-container {
     width: 150px;
}
.header-image {
     height: 75px;
     border: 1px solid black;
     border-radius: 5px;
     padding: 5px;
     box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
     transform: rotate(-3deg);
}
.badge {
     background-color: var(--badge-background-color);
     color: var(--secondary-color);
     padding: 2px 10px 3px;
     border-radius: 15px;
}
.game-play-button-container {
     width: 150px;
     height: 70px;
}
#playGame {
     appearance: none;
     background-color: transparent;
     color: #383838;
     border: 2px solid #1A1A1A;
     border-radius: 15px;
     outline: none;
     box-sizing: border-box;
     cursor: pointer;
     display: none;
     font-family: var(--primary-font);
     font-size: 16px;
     font-weight: 600;
     line-height: normal;
     margin: 0px;
     padding: 16px 24px;
     min-width: 0px;
     min-height: 60px;
     text-align: center;
     text-decoration: none;
     user-select: none;
     touch-action: manipulation;
     width: 100%;
     will-change: transform;
     animation: game-play-button-fade-in 10s 1;
     transition: all 300ms cubic-bezier(0.23,1,0.32,1);
}
@keyframes game-play-button-fade-in {
     from {opacity: 0;}
     to {opacity: 1;}
}
#playGame:disabled {
     pointer-events: none;
}
#playGame:hover {
     background-color: #1A1A1A;
     color: #fff;
     box-shadow: rgba(0,0,0,0.25) 0px 8px 15px;
     transform: translateY(-2px);
}
#playGame:active {
     box-shadow: none;
     transform: translateY(0px);
}
.card.shuffle-left {
     transform: translateX(300px) translateY(40px);
}
.card.shuffle-right {
     transform: translateX(-350px) translateY(-40px);
}
.card.fly-in {
     transform: translateY(-1000px) translateX(-600px) rotate(45deg);
}
@media only screen and (max-width:600px){
     .card {
          width: var(--card-width-small);
          height: var(--card-height-small);
     }
     .card-container {
          width: calc(var(--card-width-small) * (var(--number-cards) / 2) + var(--card-horizontal-space-small));
     }
     main {
          height: 50%;
     }
     .current-status {
          font-size: 1.2rem;
     }
     .game-play-button-container {
          width: 120px;
          height: 40px;
     }
     #playGame {
          padding: 6px 8px;
          font-size: 12px;
          min-height: 40px;
     }
     .header-image {
          height: 55px;
     }
}